#root-grid {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%; //Change 20's to auto HERE
  grid-template-rows: 10% repeat(auto-fit, auto) 10%;
  height: 100%;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header"
    "left drum drum drum drum right"
    "left drum drum drum drum right"
    "left drum drum drum drum right"
    "left drum drum drum drum right"
    "footer footer footer footer footer footer";
}

.DrumMachineApp{
  width: auto;
  height: auto;
}
